@import "reset.scss";
@import "Links.scss";
@import "Home.scss";
@import "Header.scss";
@import "Footer.scss";
@import "Home.scss";
@import "HowItWorks.scss";
@import "Story.scss";
@import "OurProduct.scss";


@font-face {
  font-family: "Lato"; 
  src: url("/fonts/Lato/Lato-Regular.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Lato"; 
  src: url("/fonts/Lato/Lato-Medium.ttf");
  font-style: medium;
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Lato"; 
  src: url("/fonts/Lato/Lato-Semibold.ttf");
  font-style:bold;
  font-weight: 600;
  font-display: swap;
}
@font-face {
  font-family: "Georgia"; 
  src: url("/fonts/Georgia/Georgia.ttf");
  font-style:normal;
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Georgia"; 
  src: url("/fonts/Georgia/Georgia-Bold.ttf");
  font-style:bold;
  font-weight: 600;
  font-display: swap;
}

html,
body {      
  font-family: Lato,sans-serif;
  font-weight: 400;
  font-size: 	20px;
 
}

.none {
  display: none !important;
}

.vissualy-hidden{
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0;
  height: 0;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

.container{
  width: 1400px;
  padding: 0 15px; 
  margin: 0 auto;
}


